# dependencies
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/

# turbo
.turbo/

# husky
.husky/_/

# test / coverage
coverage/
*.lcov

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# env
.env
.env.*
!.env.example

# editors / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.tsbuildinfo
next-env.d.ts
